# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg-info/
dist/
build/
.eggs/
*.egg
*.whl
*.manifest
*.spec
pip-log.txt
pip-delete-this-directory.txt

# Virtual environments
.venv/
venv/
ENV/

# Environment variables
.env

# IDE
.idea/
.vscode/settings.json
*.swp
*.swo
*~

# Testing / Coverage
.tox/
.nox/
.coverage
.coverage.*
htmlcov/
.cache/
.pytest_cache/

# Mypy / type checkers
.mypy_cache/
.pytype/

# Jupyter
.ipynb_checkpoints/

# Spark
spark-warehouse/
derby.log
metastore_db/

# Temp
tmp/
